body {
    font-family: Arial, sans-serif;
    background-color: #e0f2f1; 
    margin: 0;
    padding: 0;
  }
  
  #pet-shelter {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center;
  }
  
  h1 {
    color: #2e7d32; 
  }
  
  
  ul {
    list-style-type: none; 
    padding: 0;
  }
  
  li {
    margin-bottom: 15px; 
    background-color: #d1ebe2; 
    border-radius: 20px; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  